# Linear OAuth
LINEAR_CLIENT_ID=
LINEAR_CLIENT_SECRET=
LINEAR_REDIRECT_URI=http://localhost:5173/auth

# Upstash KV
KV_REST_API_URL=https://merry-walleye-18585.upstash.io
KV_REST_API_TOKEN=

# Admin Login Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password

# Session Secret
SESSION_SECRET=your-session-secret-here

# Organization Name
ORG_NAME=Aaltoes

# Node Environment
NODE_ENV=development
