# Linear OAuth
LINEAR_CLIENT_ID=
LINEAR_CLIENT_SECRET=
LINEAR_ORG_URL=https://linear.app/org

OPEN_ISSUE_URL=https://t.me/bot?text=%2Ftask%20%20

# Upstash KV
KV_REST_API_URL=https://merry-walleye-18585.upstash.io
KV_REST_API_TOKEN=

# Admin Login Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password

# Session Secret
SESSION_SECRET=your-session-secret-here

# Organization Name
ORG_NAME=Aaltoes

# Node Environment
NODE_ENV=development
